@import 'theme';

$sm-up: 768px;
$md-up: 992px;
$lg-up: 1200px;

/* System-wide edits */

html,
body,
#globalWrapper {
  height: 100%;
}

.center-el{
  margin: 0 auto;
}

/* Bootstrap edit */

.navbar-fixed-top {
  border-width: 0px;
}

.center-block {
  display: inline-block;
  float: none !important;
  margin: 0 auto;
}

.row {
  padding: 10px 0px;
  margin-right: 0px;
  margin-left: 0px;
  @media (min-width: $sm-up) {
    padding: 10px 50px;
  }
}

/* ---------- General Edits ----------*/


/* ------ Branding -----*/

body {
  padding-top: 75px;
  color: $secondary-color;
  background-color: $primary-color;
  font-family: "Roboto", sans-serif;
  line-height: 1.7em;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  color: $secondary-color-light;
  font-size: 32px;
  @media (min-width: $sm-up){
    font-size: 40px;
  }
}

h2 {
  font-size: 24px;
  @media (min-width: $sm-up){
    font-size: 30px;
  }
}

h3 {
  font-size: 20px;
  @media (min-width: $sm-up){
    font-size: 24px;
  }
}

h4 {
  font-size: 18px;
  @media (min-width: $sm-up){
    font-size: 20px;
  }
}

p, a {
  font-size: 16px;
  @media (min-width: $sm-up){
    font-size: 18px;
  }
}

p {
  color: $secondary-color-lightest;

}

// Keep main paragraphs black color
[class*="intro"] p {
  color:$secondary-color;
}


a {
  color: $hyper;
  &:hover {
    color: $hover;
  }
}

.btn-acerta {
  font-size: 18px;
  color: $primary-color;
  background-color: $hover;
  border: 2px solid $hover-active;
  margin-top: 5px;
  &:focus, &:hover {
    color: $primary-color;
    background-color: $hover-active;
  }
  &.submitted {
    opacity: 1;
    background-color: $hover-active;
  }
}

.form-msg {
  padding: 5px;
  margin: 5px;
  text-align: center;
  display: none;
  &.active {
    display: block;
  }
}

section {
  padding: 30px 0px;
}

/* ---------    Navbar   --------- */

.navbar {
  background-color: $secondary-color;
  @media (min-width: $sm-up) {
    padding: 0 65px;
  }
}

.navbar-toggle {
  border-color: $primary-color;
  margin-top: 20px;
  margin-bottom: 21px;
  .icon-bar {
    background-color: $primary-color;
  }
}

.nav > li > a {
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 18px;
  color: $primary-color;
  &:focus,
  &.active {
    color: $primary-color;
    background-color: $hover;
  }
  &:hover {
    color: $primary-color;
    background-color: $hover-active;
  }
}

.navbar-brand>img {
  height: 50px;
}

/* ---------    CTA banner   --------- */

.cta {
  color: $primary-color;
  width: 100%;
  background-image: url(../images/cta-bg.png);
  background-size: cover;
  background-position: center center;
}

/* ----------  Main Page ---------- */

/* ------   Intro Picture  ------- */

.intro-banner {
  width: 100%;
  height: 450px;
  background-image: url(../images/car.jpg);
  background-size: cover;
  background-position: center center;
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 75px;
    width: 100%;
    height: 450px;
    background: rgba(50, 50, 50, 0.90);
  }
  .content {
    color: $primary-color;
    position: relative;
    padding-top: 50px;
    letter-spacing: 2px;
    max-width: 340px;
    margin: 0 auto;
    @media (min-width: $sm-up) {
      max-width: 550px;
    }
  }
}

/* ----- How it works ----- */

.how-it-works {
  background-color: $primary-color-dark;
  li {
    font-size: 30px;
    max-width: 400px;
    margin: 0 auto;
  }
  .diagram {
    background-image: url(../images/diagram.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding-bottom: 60%;
    @media (min-width: $sm-up) {
      margin: 30px;
    }
  }
}

/* ----- Customers ----- */

.customers {
  .img-wrapper {
    min-height: 10em;
    line-height: 10em;
  }
  img {
    width: 100%;
    max-width: 600px;
    margin: 20px 0px;
    @media (min-width: $md-up) {
      width: 200px;
    }
    @media (min-width: $lg-up) {
      width: 250px;
    }
  }
}

/* ----------  Product Page ----------*/

.product-img {
  background-image: url(../images/product-bg.png);
  background-size: cover;
  width: 100%;
  .row {
    color: $primary-color;
    padding: 5%;
  }
  .caption {
    font-size: 50px;
    @media (min-width: $sm-up) {
      font-size: 60px;
    }
    letter-spacing: 3px;
  }
  h2, h3 {
    font-weight: lighter;
    font-style: italic;
  }
}

.advantages {
  background-color: $primary-color-dark;
  .advantage-item {
    padding: 50px 0px;
  }
  p {
    max-width: 400px;
    margin: 0 auto;
  }
}

.industry {
  h1 {
    height: 2em;
  }
  img {
    max-width: 100%;
    @media (min-width: $sm-up) {
      max-width: 400px;
    }
    padding: 10px;
  }
  p {
    max-width: 300px;
    margin: 0 auto;
    @media (min-width: $sm-up) {
      max-width: 400px;
    }
  }
  .row,[class*="col-"] {
    padding: 0px;
  }
  .automotive {
    @media (min-width: $md-up) {
      border-right: 2px solid $secondary-color;
    }
  }
}


/* ----------  Case Study Page ---------- */

.case-studies {
  padding: 0px;
  .container-fluid, .row, .bg {
    padding: 0px;
  }
  .item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  img {
    width: 100%;
    min-height: 256px;
  }
  p {
    max-width: 400px;
    margin: 0 auto 20px auto;
  }
}

.modal-dialog {
  max-width: 400px;
  margin: 10px auto;
}

/* ----------  About Us Page ---------- */


/* ------ Team ------- */

.team {
  // .col-md-3 {
  //   display: block;
  //   vertical-align: top;
  //   @media (min-width: $md-up) {
  //     display: inline-block;
  //   }
  // }
  .row {
    padding: 10px 15%;
    @media (min-width: $sm-up){
      display: flex;
      flex-wrap: wrap;
    }
  }
  .picture {
    border-radius: 50%;
    &:hover {
      img {
        opacity: 0.3;
      }
      a {
        opacity: 1;
      }
    }
  }

  a {
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
  }

  img {
    width: 100%;
    border-radius: 50%;
    max-width: 325px;
    transition: .5s ease;
  }
  h3 {
    // height: 2em;
  }
  h4 {
    // height: 2em;
    color: $secondary-color-lightest;
  }
  .longfix {
    font-size: 22px;
  }
}


/* ----------  Contact Page ---------- */

#map {
  padding-bottom: 75%;
  width: 100%;
}

.emails {
  .col-md-3 {
    display: block;
    vertical-align: top;
    @media (min-width: $md-up) {
      display: inline-block;
    }
  }
}

#contact {
  p, form {
    max-width: 500px;
    margin: 0px auto;
    @media (min-width: $md-up) {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

#about-form {
  .input-group {
    margin-top: 10px;
  }
  button {
    margin-top: 10px;
    width: 100%;
  }
  textarea {
    width: 100%;
    height: 111%;
    border-color: rgb(204, 204, 204);
    padding: 2px 12px;
  }
}

/* -------- Footer ---------- */

footer {
  background-color: $secondary-color;
  p {
    font-size: 12px;
    margin-top: 10px;
    color: $primary-color;
  }
  ul {
    @media (min-width: $md-up) {
      text-align: right;
    }
    a {
      padding-top: 7px;
      .fa-inverse {
        color: $secondary-color;
      }
      color: $primary-color;
      &:active, &:hover, &:focus {
        color: $hover;
      }
    }
    .fa-2x {
      font-size: 1.5em;
    }
  }
}
