@import 'theme';

/* System-wide edits */
html,body,#globalWrapper {
  height: 100%;
}

/* Bootstrap edit */
.center-block {
  display: inline-block;
  float: none !important;
  margin: 0 auto;
}

.row {
  padding: 10px 50px;
  margin-right: 0px;
  margin-left: 0px;
}

body {
  padding-top: 75px;
}

/* ----------  Main Page ---------- */

/* ------    Navbar   ------- */

.navbar {
  background-color: $secondary-color;
  padding: 0 65px;
}

.navbar-toggle {
  border-color: $white;
  margin-top: 20px;
  margin-bottom: 21px;
  .icon-bar {
    background-color: $white;
  }
}

.nav > li > a {
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 18px;
  color: $white;
  &:hover, &:focus {
    background-color: $primary-color;
  }
}

/* ------   Header  ------- */

.intro {
  width: 100%;
  min-height: 100%;
  background-image: url(../images/car.png);
  background-size: cover;
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.90);
  }
  .content {
    color: $white;
    font-size: 50px;
    position: relative;
    padding-top: 200px;
  }
}

/* ------   Features  ------- */
 .how-it-works {
  .row {
    margin-top: 40px;
  }
 }


/* ------   CTA  ------- */
.cta {
  h4 {
    font-style: italic;
  }
  .btn {
    height: 200px;
    width: 212px;
    white-space: normal;
    font-size: 25px;
    padding: 25px;
  }
}

/* ------ Footer ------- */
footer {
  background-color: $secondary-color;
  color: $white;
  p {
    font-size: 12px;
    margin-top: 12px;
  }
  .social-links a {
    color: $secondary-color;
    background-color: $white;
    border-radius: 50%;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 7px;
    margin-left: 10px;
    &:hover {
      background-color: $primary-color;
    }
  }
}

/* ----------  Case Study Page ---------- */

.case-studies {
  img {
    width: 100%;
    margin-top: 15px;
  }
}

.modal-dialog {
  max-width: 400px;
  margin: 10px auto;
  @media (min-width: 768px) {
    width: 400px;
    margin: 30px auto;
  }
}

/* ----------  About Us Page ---------- */

/* ------ Team ------- */
.team {
  img {
    width: 250px;
  }
  .longfix {
    font-size: 23px;
  }
}

.contact-form {
  .input-group {
    margin-bottom: 10px;
  }
  button {
    width: 100%;
  }
}



