/* Primary */
$primary-color: #a5c542 !default;
$primary-color-light: lighten($primary-color, 10%);
$primary-color-dark: darken($primary-color, 10%);

/* Secondary */
$secondary-color: #b1cd62 !default;
$secondary-color-light: lighten($secondary-color, 10%);
$secondary-color-dark: darken($secondary-color, 10%);