/* Primary */
$primary-color: rgba(255, 250, 245, 1) !default;
$primary-color-light: lighten($primary-color, 10%);
$primary-color-dark: darken($primary-color, 10%);

/* Secondary */
$secondary-color: rgba(0, 38, 38, 1) !default;
$secondary-color-light: lighten($secondary-color, 10%);
$secondary-color-dark: darken($secondary-color, 10%);

/* Hover */
$hover: rgba(166, 200, 66, 1);
$hover-active: darken($hover, 10%);

/* Hyperlinks */
$hyper: rgba(15, 115, 115, 1);


$color1: rgba(240, 93, 94, 1);

/* Coolors Exported Palette - coolors.co/a5c542-0a0a0a-f4f4f4-f05d5e-0f7173 */