---
title: about
---
    <section class="about-intro">
      <div class="container-fluid">
        <div class="row">
          <div class="text-center col-md-8 col-md-offset-2">
            <h1>About Us</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>Our founders, Greta, Jean, and Sebastian, are very passionate about autonomous vehicles and have been closely involved with automotive systems over the last few years. Greta was working at Magna on the safety of advanced driver assistance systems (ADAS) and Sebastian continues to be the associate director of WatCar, Waterloo’s autonomous vehicle program. Jean has many years of experience with machine learning and statistical analysis, and has been focused on the applications of the technology to automotive systems.</p>
            <p>The insight the founders got through close relationships with automotive manufacturers and suppliers lead Acerta to where it is today, to be the most dynamic platform in the industry for detecting vehicle defects through data.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="team">
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-md-4 col-md-offset-4">
            <h1>Team</h1>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-3 center-block">
            <img src="images/team1.jpg" alt="Picture of Greta - CEO">
            <h3>Greta Cutulenco</h3>
            <h4>Chief Executive Officer</h4>
          </div>
          <div class="col-md-3 center-block">
            <img src="images/team2.jpg" alt="Picture of Sebastian - CRO">
            <h3>Sebastian Fischmeister</h3>
            <h4>Chief Science Officer</h4>
          </div>
          <div class="col-md-3 center-block">
            <img src="images/team3.jpg" alt="Picture of Jean - CTO">
            <h3 class="longfix">Jean-Christophe Petkovich</h3>
            <h4>Chief Technology Officer</h4>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-3 center-block">
            <img src="images/team4.jpg" alt="Picture of Prashant - CDO">
            <h3>Prashant Raghav</h3>
            <h4>Chief Data Officer</h4>
          </div>
          <div class="col-md-3 center-block">
            <img src="images/team5.jpg" alt="Picture of Himesh - Business Lead">
            <h3>Himesh Patel</h3>
            <h4>Business Lead</h4>
          </div>
          <div class="col-md-3 center-block">
            <img src="images/team6.jpg" alt="Picture of Prajna - Full-stack engineer">
            <h3>Prajna Kandarpa</h3>
            <h4>Full-stack Engineer</h4>
          </div>
        </div>
      </div>
    </section>
    <section id="contact" class="contact-us">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h1>Contact Us</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-3">
            <p>We’re always interested in new opportunities and partnerships. Contact us today to see what benefits we can provide to your organization.</p>
            <p>If you contact us outside regular business hours, please leave a message and we will get back to you the next business day.</p>
          </div>
          <div class="col-md-4 col-lg-3">
            <form id="about-form" class="script-form" method="POST" action="https://script.google.com/macros/s/AKfycbwQceSRKQOu7G98yl41S96sH9P0E5AuGjhRuzmvXdP9IAFJq-I/exec">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input id="first-name" name="first-name" type="text" class="form-control" placeholder="First Name" aria-describedby="first-name" required>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input id="last-name" name="last-name" type="text" class="form-control" placeholder="Last Name" aria-describedby="last-name" required>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-building"></i></span>
                <input id="company" name="company" type="text" class="form-control" placeholder="Company Name" aria-describedby="company" required>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input id="email" name="email" type="email" class="form-control" placeholder="Email Address" aria-describedby="email" required>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-commenting"></i></span>
                <textarea name="inquiry" form="about-form" placeholder="How can we help you?"></textarea>
              </div>
              <div class="form-msg">
                <!--  Result Message goes here -->
              </div>
              <button type="submit" class="btn btn-acerta">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </section>