---
title: About
---
      <section class="how-it-works">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2 col-md-offset-2"><img src="images/Acerta_black.png" alt=""></div>
            <div class="col-md-7">
              <p>Acerta helps companies better understand their vehicle data by reducing the effort and resources needed to detect faults and to find the root cause of these failures.
              As massive amounts of data is already being collected by companies, continuous analysis of system behavior will help produce valuable insights, increase productivity, and predict problems before they reach the customer.
              Whether through warranty-based recall prevention, increased manufacturing-line uptime, or predicting failure on the road, Acerta unlocks the value hidden in vehicle data.
              </p>
            </div>
          </div>
        </div>
      </section>