---
title: about
---
    <section class="about-intro">
      <div class="container-fluid">
        <div class="row">
          <div class="text-center col-md-8 col-md-offset-2">
            <h1>About Us</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>Our founders, Greta, Jean, and Sebastian, are very passionate about autonomous vehicles and have been closely involved with automotive systems over the last few years. Greta was working at Magna on the safety of advanced driver assistance systems (ADAS) and Sebastian continues to be the associate director of WatCar, Waterloo’s autonomous vehicle program. Jean has many years of experience with machine learning and statistical analysis, and has been focused on the applications of the technology to automotive systems.</p>
            <p>The insight the founders got through close relationships with automotive manufacturers and suppliers lead Acerta to where it is today, to be the most dynamic platform in the industry for detecting vehicle defects through data.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="team">
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-md-4 col-md-offset-4">
            <h1>The Team</h1>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-3 col-sm-6">
            <div class="picture">
              <img src="images/team-greta.jpeg" alt="Picture of Greta">
              <a href="https://www.linkedin.com/company/acerta-systems-analytics" target="_blank">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </div>
            <h3>Greta Cutulenco</h3>
            <h4>CEO</h4>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="picture">
              <img src="images/team-jc.jpeg" alt="Picture of JC">
              <a href="https://www.linkedin.com/company/acerta-systems-analytics" target="_blank">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </div>
            <h3 class="longfix">Jean-Christophe Petkovich</h3>
            <h4>CTO</h4>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="picture">
              <img src="images/team-sebastian.jpeg" alt="Picture of Sebastian">
              <a href="https://www.linkedin.com/company/acerta-systems-analytics" target="_blank">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </div>
            <h3>Sebastian Fischmeister</h3>
            <h4>CSO</h4>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="picture">
            <img src="images/team-gonen.jpeg" alt="Picture of Gonen">
              <a href="https://www.linkedin.com/company/acerta-systems-analytics" target="_blank">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </div>
            <h3>Gonen Hollander</h3>
            <h4>COO</h4>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="picture">
            <img src="images/team-prashant.jpeg" alt="Picture of Prashant">
              <a href="https://www.linkedin.com/company/acerta-systems-analytics" target="_blank">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </div>
            <h3>Prashant Raghav</h3>
            <h4>Director of Engineering</h4>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="picture">
            <img src="images/team-himesh.jpeg" alt="Picture of Himesh">
              <a href="https://www.linkedin.com/company/acerta-systems-analytics" target="_blank">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </div>
            <h3>Himesh Patel</h3>
            <h4>Business Lead</h4>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="picture">
            <img src="images/team-renfang.jpeg" alt="Picture of Renfang">
              <a href="https://www.linkedin.com/company/acerta-systems-analytics" target="_blank">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </div>
            <h3>Renfang Liao</h3>
            <h4>Data Scientist</h4>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="picture">
            <img src="images/team-ophir.jpeg" alt="Picture of Ophir">
              <a href="https://www.linkedin.com/company/acerta-systems-analytics" target="_blank">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </div>
            <h3>Ophir Sarusi</h3>
            <h4>Marketing Manager</h4>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4 col-md-offset-4">
            <h2>Past Team Members</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-2 col-sm-4">
            <img src="images/team-brian.jpeg" alt="Picture of Brian">
            <h3>Brian</h3>
            <h4>Engineer</h4>
          </div>
          <div class="col-md-2 col-sm-4">
            <img src="images/team-mahmoud.jpeg" alt="Picture of Mahmoud">
            <h3>Mahmoud</h3>
            <h4>Data Scientist</h4>
          </div>
          <div class="col-md-2 col-sm-4">
            <img src="images/team-vandit.jpeg" alt="Picture of Vandit">
            <h3>Vandit</h3>
            <h4>Intern</h4>
          </div>
        </div>
      </div>
    </section>