---
title: case_studies
---

	<section class="case-studies">
    <div class="container-fluid">
      <div class="row">
        <div class="text-center col-md-4 col-md-offset-4">
          <h2>Our Case Studies</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit neque quos iusto tempora voluptate in quibusdam velit nemo repudiandae, ullam consectetur officia culpa assumenda sapiente eos, harum molestias deserunt. Laboriosam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, porro sit illo non similique, quisquam ex aspernatur iste velit ipsum commodi ad quam sed alias earum modi molestias aliquam odit.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <div class="col-md-5">
            <img src="images/case_study.jpg">
          </div>
          <div class="col-md-7">
            <h3>Bearing Failure</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sint, a eum in provident veritatis aut, ea, sapiente iure atque ad. Harum illum doloremque doloribus, dolor sunt, aspernatur distinctio iste.</p>
          </div>
          <button class="btn btn-acerta" data-toggle="modal" data-target="#myModal">Download Case Study</button>
        </div>
        <div class="col-md-5">
          <div class="col-md-5">
            <img src="images/case_study.jpg">
          </div>
          <div class="col-md-7">
            <h3>Case Study</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sint, a eum in provident veritatis aut, ea, sapiente iure atque ad. Harum illum doloremque doloribus, dolor sunt, aspernatur distinctio iste.</p>
          </div>
          <button class="btn btn-acerta" data-toggle="modal" data-target="#myModal">Download Case Study</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <div class="col-md-5">
            <img src="images/case_study.jpg">
          </div>
          <div class="col-md-7">
            <h3>Case Study</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sint, a eum in provident veritatis aut, ea, sapiente iure atque ad. Harum illum doloremque doloribus, dolor sunt, aspernatur distinctio iste.</p>
          </div>
          <button class="btn btn-acerta" data-toggle="modal" data-target="#myModal">Download Case Study</button>
        </div>
        <div class="col-md-5">
          <div class="col-md-5">
            <img class="center-block" src="images/case_study.jpg">
          </div>
          <div class="col-md-7">
            <h3>Case Study</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque sint, a eum in provident veritatis aut, ea, sapiente iure atque ad. Harum illum doloremque doloribus, dolor sunt, aspernatur distinctio iste.</p>
          </div>
          <button class="btn btn-acerta" data-toggle="modal" data-target="#myModal">Download Case Study</button>
        </div>
      </div>
    </div>
  </section>