---
title: case-studies
---
    <section class="case-studies-intro">
      <div class="container-fluid">
        <div class="row">
          <div class="text-center col-md-8 col-md-offset-2">
            <h1>Recent Case Studies</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>These case studies exemplify our pursuit to advance the analysis of vehicle data. We are working hard to provide insights to improving anomaly detection and better understanding how to diagnose problems.</p>
            <p>This is just a small collection and we will be continually adding more case studies as we engage in bigger projects and partnerships.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="case-studies">
      <div class="container-fluid text-center">
      {{#parseJSON '{
        "image": "images/misfire.jpg",
        "title": "Engine Misfire",
        "description": "Acerta accurately diagnosed the specific conditions required for engine misfires and highlighted their occurences.",
        "link": "files/Acerta - Misfires Case Study.pdf",
        "btn-text": "Download Case Study"
      }'}}
        {{> cs-item }}
      {{/parseJSON}}

      {{#parseJSON '{
        "image": "images/bearing.jpg",
        "title": "Bearing Failure",
        "description": "Acerta predicts when bearings will fail and provides recommendation of when replacements should be made.",
        "link": "files/Acerta - Bearing Case Study.pdf",
        "btn-text": "Download Case Study"
      }'}}
        {{> cs-item-2 }}
      {{/parseJSON}}

      {{#parseJSON '{
        "image": "images/fuel.jpg",
        "title": "Oxygen Leak",
        "description": "Acerta automatically identified all air leaks in the dataset of an exhaust system that had lead to excessive fuel consumption.",
        "link": "files/Acerta - Oxygen Leak Case Study.pdf",
        "btn-text": "Download Case Study"
      }'}}
        {{> cs-item }}
      {{/parseJSON}}
      </div>
    </section>

    {{> demo }}