---
title: case-studies
---
    {{> modal }}

    <section class="case-studies-intro">
      <div class="container-fluid">
        <div class="row">
          <div class="text-center col-md-8 col-md-offset-2">
            <h1>Recent Case Studies</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <p>These case studies exemplify our pursuit to advance the analysis of vehicle data. We are working hard to provide insights to improving anomaly detection and better understanding how to diagnose problems.</p>
            <p>This is just a small collection and we will be continually adding more case studies as we engage in bigger projects and partnerships.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="case-studies">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-md-7 bg">
            <img src="images/bearing.jpg" alt="">
          </div>
          <div class="col-md-4 item">
            <h2>Bearing Failure</h2>
            <p>Acerta predicts when bearings will fail and provides recommendation of when replacements should be made.</p>
            <button class="btn btn-acerta" data-toggle="modal" data-target="#myModal">Request Case Study</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 col-md-push-5 bg">
            <img src="images/fuel.jpg" alt="">
          </div>
          <div class="col-md-pull-6 col-md-4 item">
            <h2>Oxygen Leak</h2>
            <p>Acerta automatically identified all air leaks in the dataset of an exhaust system that had lead to excessive fuel consumption.</p>
            <button class="btn btn-acerta" data-toggle="modal" data-target="#myModal">Request Case Study</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 bg">
            <img src="images/misfire.jpg" alt="">
          </div>
          <div class="col-md-4 item">
            <h2>Engine Misfire</h2>
            <p>Acerta accurately diagnosed the specific conditions required for engine misfires and highlighted their occurences.</p>
            <button class="btn btn-acerta" data-toggle="modal" data-target="#myModal">Request Case Study</button>
          </div>
        </div>

      </div>
    </section>

    {{> demo }}