---
title: index
---
    <section class="intro-banner">
      <div class="container-fluid">
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="content">Dynamic Machine Learning for Vehicle Data</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="main-intro">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 col-md-offset-2 text-center">
          <h1>What we do</h1>
          </div>
          <div class="col-md-7">
            <p>Acerta helps companies better understand their vehicle data by reducing the resources needed to detect faults and find the root cause of these faults.</p>
            <p>Companies are already collecting massive amounts of data, our continuous analysis of this vehicle data will provide valuable insights into vehicle performance, health and maintenance.</p>
            <p>Acerta unlocks the hidden value in vehicle data.</p>
          </div>
        </div>
      </div>
    </section>

    {{#parseJSON '{
      "text": "See how Acerta saves you money and time!",
      "link": "product.html",
      "btn-text": "Learn More"
    }'}}
      {{> cta }}
    {{/parseJSON}}

    <section class="how-it-works">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-3 col-md-6 text-center">
            <h1>How it works</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <ol>
              <li>
                <h2>Acquire</h2>
                <p>Send your vehicle data to our secure private cloud using your existing data collection setup</p>
              </li>
              <li>
                <h2>Analyze</h2>
                <p>Our machine learning platform analyzes the data looking for unusual anomalies and problems</p>
              </li>
              <li>
                <h2>Alert</h2>
                <p>Be alerted in real-time when problems are detected to take immediate action</p>
              </li>
            </ol>

          </div>
          <div class="col-md-6">
            <div class="diagram"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="customers">
      <div class="container-fluid">
        <div class="text-center row">
          <div class="col-md-3 img-wrapper"><img src="images/company1.png" alt=""></div>
          <div class="col-md-3 img-wrapper"><img src="images/company2.png" alt=""></div>
          <div class="col-md-3 img-wrapper"><img src="images/company3.png" alt=""></div>
          <div class="col-md-3 img-wrapper"><img src="images/company4.png" alt=""></div>
        </div>
      </div>
    </section>

    {{> demo }}