---
title: product
---

	<section class="product_intro">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
          <h2>Our Product</h2>
          <p>Anomalies can go unnoticed in your vehicles, causing many problems in the future. Detecting an anomaly late causes massive product recalls, long equipment downtimes and ultimately huge costs to your organization. Acerta allows to quickly diagnose anomalies to discover critical problems in your vehicles through our dynamic machine learning platform. This leads to faster diagnostic times and increased manufacturing uptime.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="advantages">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h2>Advantages</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-3 col-sm-6 center-block">
            <h3>Provide insights in real-time</h3>
            <h4>Get accurate results from vehicle diagnostics tests as they go through the assembly line</h4>
          <img src="images/100x100_placehold.png">
        </div>
        <div class="col-md-3 col-sm-6 center-block">
            <h3>Dynamically adapt</h3>
            <h4>Analyze all your vehicles without having to build models for each one</h4>
          <img src="images/100x100_placehold.png">
        </div>
        <div class="col-md-3 col-sm-6 center-block">
            <h3>Scale Big</h3>
            <h4>Process all your data at ease with our flexible data analysis service</h4>
          <img src="images/100x100_placehold.png">
        </div>
      </div>
    </div>
  </section>
  <section class="features">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-md-6 col-md-offset-3">
          <h2>Key Features</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <i class="fa fa-cog fa-5x" aria-hidden="true"></i>
        </div>
        <div class="col-md-6">
          <h3>Root Cause Analysis</h3>
          <p>Finding anomalies isn’t very useful if you can’t figure out what caused it. We establish the root cause of the anomaly by identifying trends leading to the problem and the signals responsible. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <i class="fa fa-arrow-circle-left fa-5x" aria-hidden="true"></i>
        </div>
        <div class="col-md-6">
          <h3>Regression Testing</h3>
          <p>Create a baseline for vehicle performance and make sure every vehicle is meeting standards as your regression testing evolves.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <i class="fa fa-cloud fa-5x" aria-hidden="true"></i>
        </div>
        <div class="col-md-6">
          <h3>Cloud Deployment</h3>
          <p>We integrate with your existing data collection setup. No additional hardware is needed to utilize our service.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="product">
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <h2>For <br> Automotive Manufacturers</h2>
        <img src="images/100x100_placehold.png">
        <h4>Automatic analysis</h4>
          <p>Assess vehicle health in testing, validation, and production automatically and improve your diagnostic capabilities</p>
          <h4>Fast Service</h4>
          <p>Perform analysis of vehicle data in minutes and avoid the tedious hours of manual inspection</p>
          <h4>Identify edge cases</h4>
          <p>Find more anomalies by analyzing all vehicle data as it’s produced to avoid faculty cars being released</p>
      </div>
      <div class="col-md-4">
        <h2>For <br> Fleet Managers</h2>
        <img src="images/100x100_placehold.png">
        <h4>Vehicle health status</h4>
          <p>Evaluate the health of the vehicle, identify developing problems, and help zero in on the cause</p>
          <h4>Optimized Maintenance</h4>
          <p>Schedule maintenance based on vehicle performance and health levels to reduce costs by up to 40%</p>
          <h4>Reduce downtime</h4>
          <p>Avoid unexpected breakdowns that result in large repair and downtime/ opportunity costs to cargo delivering vehicles.</p>
      </div>
    </div>
  </section>