    <footer>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <p>Copyright © 2015 Acerta Systems Analytics Inc. / All rights reserved.</p>
        </div>
        <div class="col-md-4 text-right">
          <div class="social-links">
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>