  <meta name="google-site-verification" content="LjJfQzIcfvrNlQeUFlDPt4jXu7FWzLFBJQeuqjddFiw" />
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Acerta</title>
  <meta name="description" content="Acerta">
  <meta name="author" content="Acerta">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keyword" content="anomaly, detection, predictive, maintenance, automotive, aerospace, machine, intelligence, IoT, IIoT, internet of things, sensors, signals, diagnose, industrial, failure, analyze">
  <!-- Open Graph Tags -->
  <meta property="og:title" content="Acerta | Dynamic Machine Learning Platform" />
  <meta property="og:description" content="Acerta is the most dynamic machine learning platform for your vehicle data" />
  <meta property="og:image" content="http://acerta.ca/images/Acerta_black.png" />
  <meta property="og:url" content="http://acerta.ca" />
  <meta property="og:type" content="website" />
  <!-- CSS -->
  <!-- Bootstrap -->
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Font-Awesome -->
  <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">
  <!-- Custom css -->
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
  <!--Google Fonts Roboto -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <!-- Favicons -->
  <link rel="shortcut icon" href="images/favicon.ico">