  <meta name="google-site-verification" content="LjJfQzIcfvrNlQeUFlDPt4jXu7FWzLFBJQeuqjddFiw" />
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Acerta</title>
  <meta name="description" content="Acerta">
  <meta name="author" content="Acerta">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keyword" content="anomaly, detection, predictive, maintenance, automotive, aerospace, machine, intelligence, IoT, IIoT, internet of things, sensors, signals, diagnose, industrial, failure, analyze">
  <!-- CSS -->
  <!-- Bootstrap  -->
  <link type="text/css" rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
  <!-- <link type="text/css" rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css"> -->
  <!-- Font Awesome  -->
  <link type="text/css" rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css">
  <!-- Custom css -->
  <link type="text/css" rel="stylesheet" href="css/style.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
  <!--Google Fonts Roboto -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <script src="js/modernizr-2.6.1.min.js"></script>
  <!-- Favicons -->
  <link rel="shortcut icon" href="images/favicon.ico">