    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">$title</h4>
          </div>
          <form id="modal-form" class="script-form" method="POST" action="https://script.google.com/macros/s/AKfycbzgCP38t41IpaYC3bqET1QigLZy9nLJLFDqS2NZz2ReOWHtffk/exec">
            <div class="modal-body">
              <p>We'll send the case study to your email address below</p>
              <div class="form-group">
                <input id="email" name="email" type="email" class="form-control" placeholder="Email Address" aria-describedby="email" required>
                <input id="title" name="title" type="hidden" value="$title">
              </div>
              <div class="form-msg">
                <!--  Result Message goes here -->
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-acerta">Submit Email</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->