<section class="slogan">
  <div class="container-fluid text-center">
    <div class="row quote">
      <div class="col-md-12">
        <h3>"Acerta is commited to helping companies better utilize their vehicle data."</h3>
      </div>
    </div>
  </div>
</section>