<!DOCTYPE html>
<html>
  <head>
      {{> header }}
  </head>
  <body>
    <!-- Primary Page Layout -->
    <!-- globalWrapper -->
    <div id="globalWrapper">
      {{> navbar }}
      {{> body }}

      {{> footer }}

    </div>
    <!-- global wrapper -->
    <!-- End Document -->
    {{> scripts }}
  </body>
</html>